.container {
    display: flex;
    margin: auto;
    width: max-content;
    gap: 10px;
    margin-top: 300px;
}

.otp-input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    font-size: 30px;
    border: 1px solid grey;
}

.otp-input-focused {
    border: 2px solid lime; 
}