.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 300px;
    background-color: black;
}

.star {
    width: 50px;
    aspect-ratio: 1;
    clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
    cursor: pointer;
}

.selected-star {
    background: #F8CA00;
}

.unselected-star {
    background: white;
}
